#label-create-robot {
    display: block;
    text-align: center;
    font-size:160%;
}

.header {
    position: relative;
    padding-bottom: 100px;
}


h2 {
    padding-left: 40px;


}

.logo {
    position: absolute;

}

.img {
    position: absolute;
    right: 10px;
    width: 250px;
    height: 80px;
}

.img_good_luck {
    float: left;
    margin: -12px 15px 200px 7px;

}


.Form {
    border-style: solid;



}

.factory-section {
    height: 500px;
    border-style: solid;
    background-color: blanchedalmond;

}

.content-wrapper {

    display: flex;
    justify-content: left;
    height: 400px;

}

.flexbox-item-1 {
    width: 350px;
    background-color: white;
    border-style: solid;
    margin: 10px;


}

.flexbox-item-2 {
    width: 400px;
    height: 100px;
    background-color: white;
    border-style: solid;
    margin: 10px;
    transform: translate(380px, 5px);
    position: fixed;
    align-content: start;
    text-align: left;

}

.flexbox-item-3 {
    width: 400px;
    height: 100px;
    background-color: white;
    border-style: solid;
    margin: 10px;
    transform: translate(380px, 140px);
    position: fixed;

}

.flexbox-item-4 {
    width: 400px;
    height: 100px;
    background-color: white;
    border-style: solid;
    margin: 10px;
    transform: translate(7px, 275px);

}